<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar placeholder="Search Recipes" (ionInput)="handleInput($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  @if (recipes$ | async; as recipes) {
    <ion-list  [inset]="true">
      @for (recipe of recipes; track recipe) {
        <ion-item button (click)="openModal(recipe)">
          <ion-label>{{ recipe.name }}</ion-label>
        </ion-item>
      }
    </ion-list>
  }

</ion-content>
