<ion-list [inset]="true">
  @for (ingredient of ingredients$ | async ; track ingredient) {
    <ion-item>
      <ion-label>{{ ingredient.key }}</ion-label>
      <ion-label slot="end"><p>{{ ingredient.value }}</p></ion-label>
    </ion-item>
  }
</ion-list>

@if (missing$ | async; as missing) {
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-chip color="danger">
        <ion-icon name="warning"></ion-icon>
        <ion-label>{{ missing }} Missing Ingredient{{ missing > 1 ? 's' : '' }}</ion-label>
      </ion-chip>
    </ion-row>
  </ion-grid>
}